<!DOCTYPE html>
<html>
  <head>
    <title>JoyfulJournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= javascript_include_tag 'turbo', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user.present? %>
        <a href="" class="button">JoyfulJournal</a>
        <a href="/journals" class="button l">日記一覧</a>
        <a href="/journals/new" class="button l">日記投稿</a>
        <a href="/journals/chart" class="button l">幸福度グラフ</a>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'button l'  %>
      <% else %>
        <a href="/" class="button top_page l">JoyfulJournal</a>
        <a href="/users/sign_in" class="button l">ログイン</a>
        <a href="/users/sign_up" class="button l">新規登録</a>
      <% end %>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="flash-message flash-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
